<% include ../partials/header %>
<form action="/posts" method="GET" class="form-inline my-2 my-lg-0">
    <input id="tags" class="awesomplete form-control mr-sm-2 "
           name="search" type="text" placeholder="Search"
           data-list="">
    <button class="btn btn-primary my-2 my-sm-0" value="Search" type="submit"><i class="fas fa-search "></i></button>
</form>

</div>
</nav>


<div class="wrapper-profile hover2 text-center " >
    <% if(currentUser && (currentUser.id == user.id)){ %>
        <div class="float-right">

            <div class="dropdown dropleft">
                <i class="fa fa-ellipsis-v btn btn-block text-white" id="dropdownMenuButton"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false" aria-hidden="true"></i>
                <div class="dropdown-menu text-center" id="userEdit">
                    <a href="/users/<%= user.id %>/edit/imageEdit" class="dropdown-item btn btn-block">Change Image</a><hr>
                    <a href="/users/:<%= user.id %>/edit" class="dropdown-item btn btn-block">Edit Fields</a>
                </div>
            </div>
        </div>
<% } %>
    <div class="bg-primary header-profile" ></div>
    <div class="profile-pic rounded-circle border border-primary m-auto " style="background-image:url('<%= user.avatar %>');"></div>
    <h2 class="profile-name bg-primary mt-3"> <%= user.firstName %>  <%= user.lastName %></h2>
    <ul class="social-list ml-2 text-left mb-4">
        <h3><i class="fas fa-user mr-4"> </i> <small> <%= user.username %></small></h3>
        <h3><i class="fas fa-user-plus mr-2"> </i> <small>Joined <%= moment(user.joinedSince).fromNow() %></small></h3>
        <h3> <i class="fas fa-map-marker-alt  mr-4"></i> <small>from <%= user.city %></small></h3>
        <h3 > <i class="fas fa-envelope  mr-3"></i> <small><%= user.email %></small></h3>
    </ul>
    <p class="mb-4 h-25"></p>
</div>



<script>document.querySelector('title').innerText = "My Profile"</script>
<% include ../partials/footer %>
