<% include ../partials/headInfoShare %>

<!--Navbar-->
<nav class="navbar navbar-toggleable-sm navbar-light bg-white fixed-top">
    <div class="container d-flex ">
        <a class="navbar-brand" href="/"><img src="/assets/img/greek-pillar.png"></a>

        <div class=""><h3 class="heading-top " >USER PROFILE</h3></div>
        <div>
            <% if(currentUser){ %>
                <a href="/users/<%= currentUser.id %>">
                    <div class="hover btn-group user-comment-img avatar-top rounded-circle border border-primary rounded-circle z-depth-1-half"
                         style="background-image:url('<%= currentUser.avatar %>');">
                    </div>
                </a>
            <% } %>
            <button class="navbar-toggler first-button" type="button" data-toggle="collapse"
                    data-target="#collapseEx12" aria-controls="collapseEx2" aria-expanded="false"
                    aria-label="Toggle navigation">
                <div class="animated-icon1 "><span></span><span></span><span></span></div>
            </button>
        </div>

        <div class="collapse navbar-collapse bg-light" id="collapseEx12">
            <% if(!currentUser){ %>
                <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                    <a id="login" class="btn btn-outline-default btn-sm waves-effect waves-light"
                       href="/login">
                        <span class="d-lg-inline-block mr-1">Log In</span>
                        <i class="fas fa-sign-in-alt ml-2"></i>
                    </a>
                    <a id="sign-up" class="btn btn-outline-deep-orange btn-sm waves-effect waves-light"
                       href="/register"
                       role="button">
                        <span class=" d-lg-inline-block mr-1">sign up</span>
                        <i class="fas fa-user-plus "></i>
                    </a>
                </div>

        </div>
        <% } else { %>


            <div class="btn-group-vertical" role="group" aria-label="Vertical button group">

                <a id="" class="btn btn-outline-cyan btn-sm " href="/posts" role="button">
                    <span class=" d-lg-inline-block mr-1">Home</span>
                    <i class="fas fa-home "></i>
                </a>

                <a id="" class="btn btn-outline-cyan btn-sm " href="/posts/new" role="button">
                    <span class=" d-lg-inline-block mr-1">new post</span>
                    <i class="fas fa-plus "></i>
                </a>
                <a id="" class="btn btn-outline-cyan btn-sm " href="/userPosts" role="button">
                    <span class=" d-lg-inline-block mr-1">my posts</span>
                    <i class="fas fa-file "></i>
                </a>
                <a id="" class="btn btn-outline-cyan btn-sm " href="/userPosts/comments" role="button">
                    <span class=" d-lg-inline-block mr-1">my comments</span>
                    <i class="fas fa-comments "></i>
                </a>
                <a id="" class="btn btn-outline-cyan btn-sm " href="/users/<%= currentUser.id %>" role="button">
                    <span class=" d-lg-inline-block mr-1">my profile</span>
                    <i class="fas fa-user "></i>
                </a>
                <a id="" class="btn btn-outline-deep-orange  btn-sm " href="/logout">
                    <span class="d-lg-inline-block ">Log out</span>
                    <i class="fas fa-sign-out-alt"></i>
                </a>
            </div>

    </div>
    <% } %>

</nav>
<!--end nav ----------------------------------------------------------------------------------------------------------->
<% include ../partials/flsh %>


<div class="wrapper-profile hover2 text-center p-2" style="margin-top: 80px!important;">
    <% if(currentUser && (currentUser.id == user.id)){ %>
        <div class="float-right">

            <div class="dropdown dropleft">
                <i class="fa fa-cog btn btn-block text-white fa-lg" id="dropdownMenuButton"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false" aria-hidden="true"></i>
                <div class="dropdown-menu text-center pr-3" id="userEdit">
                    <a href="/users/<%= user.id %>/edit/imageEdit" class="dropdown-item btn btn-sm"><strong>Change Image</strong></a>
                    <a href="/users/:<%= user.id %>/edit" class="dropdown-item btn btn-sm "><strong>Edit Fields</strong></a>
                </div>
            </div>
        </div>
    <% } %>
    <div class="bg-primary header-profile"></div>
    <div class="profile-pic rounded-circle border border-primary m-auto "
         style="background-image:url('<%= user.avatar %>');"></div>
    <h2 class="profile-name bg-primary mt-3"> <%= user.firstName %>  <%= user.lastName %></h2>
    <ul class="social-list ml-2 text-left mb-4">
        <h3><i class="fas fa-user mr-4"> </i>
            <small> <%= user.username %></small>
        </h3>
        <h3><i class="fas fa-user-plus mr-2"> </i>
            <small>Joined <%= moment(user.joinedSince).fromNow() %></small>
        </h3>
        <h3><i class="fas fa-map-marker-alt  mr-4"></i>
            <small>from <%= user.city %></small>
        </h3>
        <h3><i class="fas fa-envelope  mr-3"></i>
            <small><%= user.email %></small>
        </h3>
    </ul>
    <p class="mb-4 h-25"></p>
</div>

<footer class="page-footer black position-fixed text-center" style="bottom:0; left: 0;right:0;">
    <div class="footer-copyright">
        <p>© <%=new Date().getFullYear() %> by the Hellenic American Hippocratic Orthopaedic Society</p>
    </div>
</footer>

<script>document.querySelector('title').innerText = "User Profile"</script>
<% include ../partials/footer %>
