<% include ../partials/headInfoShare %>

<!--Navbar-->
<nav class="navbar navbar-toggleable-sm navbar-light bg-white fixed-top">
    <div class="container d-flex ">
        <a class="navbar-brand" href="/"><img src="/assets/img/greek-pillar.png"></a>
        <div>
            <% if(currentUser){ %>
                <a href="/users/<%= currentUser.id %>">
                    <div class="hover btn-group user-comment-img avatar-top rounded-circle border border-primary rounded-circle z-depth-1-half"
                         style="background-image:url('<%= currentUser.avatar %>');">
                    </div>
                </a>
            <% } %>
            <button class="navbar-toggler first-button" type="button" data-toggle="collapse"
                    data-target="#collapseEx12" aria-controls="collapseEx2" aria-expanded="false"
                    aria-label="Toggle navigation">
                <div class="animated-icon1 "><span></span><span></span><span></span></div>
            </button>
        </div>

        <div class="collapse navbar-collapse bg-light" id="collapseEx12">
            <% if(!currentUser){ %>
                <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                    <a id="login" class="btn btn-outline-default btn-sm waves-effect waves-light"
                       href="/login">
                        <span class="d-lg-inline-block mr-1">Log In</span>
                        <i class="fas fa-sign-in-alt ml-2"></i>
                    </a>
                    <a id="sign-up" class="btn btn-outline-deep-orange btn-sm waves-effect waves-light"
                       href="/register"
                       role="button">
                        <span class=" d-lg-inline-block mr-1">sign up</span>
                        <i class="fas fa-user-plus "></i>
                    </a>
                </div>

        </div>
        <% } else { %>


            <div class="btn-group-vertical" role="group" aria-label="Vertical button group">

                <a id="" class="btn btn-outline-cyan btn-sm " href="/posts" role="button">
                    <span class=" d-lg-inline-block mr-1">home</span>
                    <i class="fas fa-home "></i>
                </a>

                <a id="" class="btn btn-outline-cyan btn-sm " href="/posts/new" role="button">
                    <span class=" d-lg-inline-block mr-1">new post</span>
                    <i class="fas fa-plus "></i>
                </a>
                <a id="" class="btn btn-outline-cyan btn-sm " href="/userPosts" role="button">
                    <span class=" d-lg-inline-block mr-1">my posts</span>
                    <i class="fas fa-file "></i>
                </a>
                <a id="" class="btn btn-outline-cyan btn-sm " href="/userPosts/comments" role="button">
                    <span class=" d-lg-inline-block mr-1">my comments</span>
                    <i class="fas fa-comments "></i>
                </a>
                <a id="" class="btn btn-outline-cyan btn-sm " href="/users/<%= currentUser.id %>" role="button">
                    <span class=" d-lg-inline-block mr-1">my profile</span>
                    <i class="fas fa-user "></i>
                </a>


                <a id="" class="btn btn-outline-deep-orange  btn-sm " href="/logout">
                    <span class="d-lg-inline-block ">Log out</span>
                    <i class="fas fa-sign-out-alt"></i>
                </a>
            </div>
    </div>
    <% } %>

</nav>
<!--end nav ----------------------------------------------------------------------------------------------------------->



<main class="page  ">

    <% if (typeof message != "undefined"){ %>
        <div class="container-message text-center flash" style="z-index: 2">
            <div id="warning-alert" class="alert alert-warning alert-dismissible fade show" role="alert">
                <%= message %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    <% } %>
        <div class="container-form m-auto p-2">
    <section class="clean-block clean-form dark m-auto">
        <div class="container-form p-3 shadow">
            <div class="block-heading">
                <h2 id="header-form" class="text-info">Edit <%= post.name %>
                    <span class="float-right">
                        <small><a href="/userPosts" class="text-dark text-decoration-none">x</a></small>
                    </span>
                </h2>

            </div>
            <form id="edit_form" class="" action="/posts/<%= post._id %>?_method=PUT" method="POST"
                  enctype="multipart/form-data">
                <h3 id="loading-message" class="text-center text-warning"></h3>
                <!--Edit title-->
                <div class="form-group">
                    <input type="text" id="title-for-post" value=" <%= post.name %>" class="form-control hover"
                           name="post[name]" maxlength="30" placeholder="title" required></div>
                <!--select image or video-->
                <div class=" form-group ">
                    <label for="files" class="btn btn-outline-secondary btn-sm">
                        New Image or Video<em>
                            <small> (up to 10MB)</small>
                        </em>
                    </label>
                    <small><span id="url" class="ml-2"></span></small>
                    <input id='files' type="file" class="d-none"
                           name="image" accept="image/*;video/*"
                           value="<%= post.image %>"
                           required>
                </div>
                <!--text area for description-->

                <div class="hover form-group ">
                             <textarea class="form-control" name="post[description]" id="desc" cols="100" rows="3"
                                       value="<%= post.description %>"><%= post.description %></textarea>
                </div>

                <div class="form-group">
                    <button id='btn' class="btn btn-primary btn-block" type="submit">Submit</button>
                </div>
                <!--gif loading-->
                <div id="loading" class="text-center "></div>
            </form>
        </div>
    </section>
        </div>
</main>
<!--do not display it in mobile formats-->
<footer class="page-footer black position-fixed text-center" style="bottom:0; left: 0;right:0;">
    <div class="footer-copyright">
        <p>© <%=new Date().getFullYear() %> by the Hellenic American Hippocratic Orthopaedic Society</p>
    </div>
</footer>


<script>
    // show to the user that the image or video is required
    document.querySelector('#btn').addEventListener('click', (event) => {
        if (document.querySelector('#desc').value !== '' &&
            document.querySelector('#title-for-post').value !== '') {

            if (document.querySelector('#files').value === '') {
                alert('please enter an image or a video')
            } else {
                document.querySelector('#loading').innerHTML = '<i  class="fas fa-sync fa-spin text-secondary fa-lg">' +
                    '</i><br><p>please be patient this may take up to 45 seconds</p>';
            }
        }

    });
    // add the text of the selected file next to 'select image'
    document.querySelector('#files').addEventListener('change', (event) => {
        let url = document.querySelector('#files').value;
        document.querySelector('#url').innerHTML = url.substring(url.lastIndexOf('\\') + 1);
    });
</script>

<script>
    document.querySelector('title').innerText = "Edit Post"
</script>

<% include ../partials/footer %>
</body>
</html>