<% include ../partials/header %>

<h4 class="rounded p-1 pl-2 pr-2 mt-1 nav-text-center font-weight-light">
    All Posts
</h4>


<form action="/posts" method="GET" class="form-inline my-2 my-lg-0">
    <input id="tags" class="awesomplete form-control mr-sm-2 "
           name="search" type="text" placeholder="Search"
           data-list="<%= availableTags %>">
    <button class="btn btn-primary my-2 my-sm-0" value="Search" type="submit"><i class="fas fa-search "></i></button>
</form>
</div>

</nav>
<% include ../partials/flsh %>


<!-- - - - - - - - - - - - - -->
<% var moreDesc,
        someText,
        show,
        moreComment,
        someComment,
        bodyComment,
        commentArrow,
        allComment; %>

<!-- - - - - - - - - - - - - - - -->

<div class="container  p-0 " style="max-width:500px; ">

    <div id="start"></div>

    <% var userImage; %>
    <% var userComment; %>

    <% posts.forEach(function(post){ %>


        <div class="card shadow-sm p-1 mb-1 bg-light rounded hover">
            <div class="card-body">


                <a class="text-decoration-none" href="posts/<%= post._id %>"><h3
                            class="card-title  text-left col p-2 ">
                        <%= post.name %>
                    </h3>
                </a>

                <h6 class="card-subtitle row ">

                    <% users.forEach(function(user){ %>
                        <% if(post.author.id == user.id){ %>
                            <% userComment = user %>
                            <% userImage = user.avatar %>
                        <% } %>

                    <% }); %>

                    <div class="col-1 ">

                        <div class="user-post-img rounded-circle border border-primary "
                             style="background-image:url('<%= userImage %>');"></div>
                    </div>

                    <div class="col-1 col-space"></div>
                    <div class="col-8">
                        <div>
                            <strong>
                                <em class="col">
                                    posted by
                                    <a href="users/<%= post.author.id %>"> <%= post.author.username %></a>
                                    <div class="col">
                                        <small><em class=""><%= moment(post.createdAt).fromNow() %></em></small>
                                    </div>
                                </em>
                            </strong>
                        </div>
                    </div>
                </h6>
            </div>
            <a href="posts/<%= post._id %>">
                <!--if it is a video-->
                <% if(true) { %>


                    <hr>
                    <video class="all-posts-img container-fluid rounded" controls>
                        <source type="video/mp4" src="<%= post.image %>"/>
                        Your browser does not support HTML5 video.
                    </video>


                <% } else { %>
                    <!--it is an image-->
                    <div class="all-posts-img container-fluid rounded "
                         style=" background-image: url('<%= post.image %>');"></div>
                <% } %>
            </a>


            <div class="card-body ">
                <strong><em class=""><p class="card-text ">Description</p></em> </strong>
                <% if(post.description.length < 100) { %>

                    <p class="d-inline text-muted"><%= post.description %></p>

                <% } else { %>

                    <% show = uiid(); %>
                    <% someText = uiid(); %>
                    <% moreDesc = uiid(); %>

                    <div id="" class="  d-inline " style="display: block;">


                        <div id="some-desc" class="  d-inline " style="display: block;">

                            <p id="<%= show %>" class="text-muted" style="display:none;">
                                <%= post.description %>
                            </p>

                            <p id="<%= someText %>" class="text-muted ">
                                <%= post.description.substring(0, 100); %> ...<a id="<%= moreDesc %>"
                                                                                 class="btn d-inline-flex m-n2">
                                    <small class="text-primary">more</small>
                                </a>
                            </p>
                        </div>
                    </div>

                <% } %>

                <div>

                    <% if(post.comments != false){ %>
                        <hr class="mb-2">

                        <strong><em class=""><p class="card-text mb-1">Comments <i class="fas fa-comments"></i></p></em>
                        </strong>

                        <% var counter = 0; var counter2 = 0; %>
                        <% post.comments.forEach(function(comment){ %>
                            <% if(counter <= 2){ %>
                                <% counter2++; %>
                                <div class="mb-md-2  ">

                                    <% users.forEach(function(user){ %>
                                        <% if(comment.author.id.equals(user.id)){ %>

                                            <div class="user-comment-img rounded-circle border border-primary "
                                                 style="background-image:url('<%= user.avatar %>');"></div>

                                        <% } %>
                                    <% }); %>

                                    <strong><%= comment.author.username %></strong>

                                    <small class="ml-5">
                                        <em class="ml-n5 pl-1"><%= moment(comment.createdAt).fromNow() %></em>
                                    </small>
                                    <br>

                                    <% if(comment.text.length > 100){ %>

                                        <% moreComment = uiid() %>
                                        <% someComment = uiid() %>
                                        <% bodyComment = uiid() %>
                                        <% allComment = uiid() %>
                                        <% commentArrow = uiid() %>




                                        <div class="dialogbox ">
                                            <div class="body" id='<%= bodyComment %>'>

                                                <span id="<%= commentArrow %>" class="arrow tip-arrowUp btn">
                                                     <i class=" fas fa-arrows-alt-v text-primary"></i>
                                                </span>

                                                <span class="tip tip-up"></span>
                                                <div class="message">


                                                    <span id="<%= allComment %>" style="display: none;">
                                                        <%= comment.text %>
                                                    </span>


                                                    <span id="<%= someComment %>"> <%= comment.text.substring(0, 100); %>
                                                     ...

                                                    </span>


                                                </div>


                                            </div>
                                        </div>

                                    <% } else { %>

                                        <div class="dialogbox">
                                            <div class="body">
                                                <span class="tip tip-up"></span>
                                                <div class="message">
                                                    <span>  <%= comment.text %></span>
                                                </div>
                                            </div>
                                        </div>

                                    <% } %>
                                </div>
                            <% } %>

                            <% include ../partials/ejs/toggleComment %>

                            <% counter++; %>
                        <% }); %>

                    <% } else { %>
                        <hr>
                        <span class="text-muted"> There are not comments for this post yet</span>
                    <% } %>

                    <% var sum = counter - counter2; %>

                    <% if(sum < 1){ %>
                        <div class="mt-2">
                            <h6 class="text-muted d-inline " style="font-size: 13px;">
                                No more comments
                            </h6>
                        </div>
                    <% } %>
                    <% if(sum == 1 ){ %>
                        <h6 class="text-muted d-inline" style="font-size: 13px;">
                            <a class="text-decoration-none" href="/posts/<%= post._id %> "><%= sum %> more
                                comment</a>
                        </h6>
                    <% } %>
                    <% if(sum > 1 ){ %>
                        <h6 class="text-muted d-inline" style="font-size: 13px;">
                            <a class="text-decoration-none" href="/posts/<%= post._id %> "><%= sum %> more
                                comments</a>
                        </h6>
                    <% } %>

                </div>
                <a href="/posts/<%= post._id %>/comments/new"
                   class="card-link btn btn-primary btn-sm d-inline">
                    <i class="fas fa-plus"></i>
                </a>
            </div>
        </div>
    <% }); %>
</div>

<script>document.querySelector('title').innerText = "All Posts"</script>
<% include ../partials/footer %>
