<% include ../partials/headInfoShare %>

<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-light clean-navbar ">
    <div class="container"><a class="navbar-brand logo " href="/"><img src="assets/img/logo-hp.png"
                                                                       style="height: 40px;width: 45px;"></a>
        <h3 class="title-mobile letter-spacing mt-2 text-black ">ALL POSTS</h3>
        <button data-toggle="collapse" class="navbar-toggler " data-target="#navcol-1">
            <span class="sr-only ">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <% if(!currentUser){ %>
                <div class="options d-flex justify-content-between align-items-center mr-auto">
                    <div class="btn-group">
                        <a href="/login">
                            <button type="button" class="btn btn-sm btn-outline-success mr-2">
                                <i class="fa fa-sign-in fa-lg"></i>Log In
                            </button>
                        </a>
                        <a href="/register">
                            <button type="button" class="  btn btn-sm btn-outline-primary">
                                <i class="fas fa-user-plus"></i>Sign Up
                            </button>
                        </a>
                    </div>
                </div>
                <h3 class="title-desktop letter-spacing mt-2 text-black ">ALL POSTS</h3>
            <% } else { %>
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item m-2">
                        <a href="/logout">
                            <button type="button" class="small-font mt-1 btn btn-sm btn-outline-warning">
                                <i class="fa fa-sign-out fa-lg"></i>Log out
                            </button>
                        </a>
                    </li>
                    <div class="options d-flex justify-content-between align-items-center mr-auto mt-1">
                        <div class="hover btn-group user-comment-img avatar-top rounded-circle border border-primary mr-2 "
                             style="background-image:url('<%= currentUser.avatar %>');"></div>
                        <div class="btn-group">
                            <a href="/posts/new">
                                <button type="button" class="small-font btn btn-sm btn-outline-success">New Post
                                </button>
                            </a>
                            <a href="/userPosts">
                                <button type="button" class="small-font  btn btn-sm btn-outline-primary">My Posts
                                </button>
                            </a>
                            <a href="/userPosts/comments">
                                <button type="button" class="small-font  btn btn-sm btn-outline-primary">My comments
                                </button>
                            </a>
                            <a href="/users/<%= currentUser.id %>">
                                <button type="button" class="small-font btn btn-sm btn-outline-primary">My Profile
                                </button>
                            </a>
                        </div>
                    </div>
                </ul>
            <% } %>
            <form action="/posts" method="GET" class="form-inline my-2 my-lg-0 ml-auto ">
                <input id="tags" class="awesomplete form-control mr-sm-2 "
                       name="search" type="text" placeholder="search here"
                       data-list="<%= availableTags %>">
                <button class="btn btn-outline-primary my-2 my-sm-0" value="Search" type="submit"><i
                            class="fas fa-search "></i></button>
            </form>
        </div>
    </div>
</nav>
<% include ../partials/flsh %>
<!--end nav ----------------------------------------------------------------------------------------------------------->


<!-- - - - - - -  ------      ---------------------  body -----------------------------------------      - - - - - - -->
<!--declare variables for searching, and expanding comments and description  -->
<% var moreDesc,
        someText,
        show,
        moreComment,
        someComment,
        bodyComment,
        commentArrow,
        upArrow,
        downArrow,
        allComment; %>
<!-- - - - - - - - - - - - - - - -->


<div class="container-body  p-0 top-position ">

    <h3 class="text-center">All Posts</h3>

    <div id="start"></div>
    <% var userImage; %>
    <% var userComment; %>
    <% posts.forEach(function(post){ %>
        <div class="card shadow-sm p-1 mb-1 bg-light rounded hover">
            <div class="card-body body-post">
                <a class="text-decoration-none" href="posts/<%= post._id %>">
                    <h3 class="card-title post-title  text-left col p-1 ">
                        <%= post.name %>
                    </h3>
                </a>

                <!--the top part of the card --------------------------------------------------->
                <h6 class="card-subtitle row ">
                    <% users.forEach(function(user){ %>
                        <% if(post.author.id == user.id){ %>
                            <% userComment = user %>
                            <% userImage = user.avatar %>
                        <% } %>
                    <% }); %>

                    <div class="col-1 ">
                        <div class="user-post-img rounded-circle border border-primary "
                             style="background-image:url('<%= userImage %>');"></div>
                    </div>
                    <div class="col-1 col-space"></div>
                    <div class="col-8">
                        <div>
                            <strong>
                                <em class="col">
                                    posted by
                                    <a href="users/<%= post.author.id %>"> <%= post.author.username %></a>
                                    <div class="col">
                                        <small><em class=""><%= moment(post.createdAt).fromNow() %></em></small>
                                    </div>
                                </em>
                            </strong>
                        </div>
                    </div>
                </h6>
                <!--end top part of the card --------------------------------------------------->
            </div>

            <a href="posts/<%= post._id %>">

                <% if(post.image != undefined){ %>
                    <!--if it is a video-->
                    <% if(encodeURIComponent(post.image).substring(encodeURIComponent(post.image).length - 3) === 'mp4'
                            || encodeURIComponent(post.image).substring(encodeURIComponent(post.image).length - 3) === 'mov') { %>
                        <!--play video-->
                        <div class="text-center bg-light " style=" background-image: url('/assets/img/qsKIY.png')">
                            <video id="myVideo" class=" img-fluid rounded" style="" controls>
                                <source type="video/mp4" src="<%= post.image %>" preload="metadata"/>
                                Your browser does not support HTML5 video.
                            </video>
                        </div>

                    <% } else { %>
                        <!--it is an image-->
                        <div class="all-posts-img container-fluid rounded "
                             style=" background-image: url('<%= post.image %>');"></div>
                    <% } %>
            </a>
            <% } %>

            <!--description part and comments-->
            <div class="card-body">
                <strong><em class=""><p class="card-text ">Description</p></em> </strong>
                <% if(post.description.length < 100) { %>
                    <p class="d-inline text-muted"><%= post.description %></p>
                <% } else { %>
                    <% show = uiid(); %>
                    <% someText = uiid(); %>
                    <% moreDesc = uiid(); %>
                    <div id="" class="  d-inline " style="display: block;">
                        <div id="some-desc" class="  d-inline " style="display: block;">
                            <p id="<%= show %>" class="text-muted" style="display:none;">
                                <%= post.description %>
                            </p>
                            <p id="<%= someText %>" class="text-muted ">
                                <%= post.description.substring(0, 100); %> ...
                                <a id="<%= moreDesc %>" class="btn d-inline-flex m-n2">
                                    <small class="text-primary">more</small>
                                </a>
                            </p>
                        </div>
                    </div>
                    <!--show the description if it is more than 100 characters-->
                    <% include ../partials/ejs/showDescription %>
                <% } %>
                <!--if there are comments display up to three comments-->
                <div>
                    <% if(post.comments != false){ %>
                        <hr class="mb-2">
                        <strong><em class=""><p class="card-text mb-1">Comments <i class="fas fa-comments"></i></p></em></strong>
                        <% var counter = 0; var counter2 = 0; %>
                        <% post.comments.forEach(function(comment){ %>
                            <% if(counter <= 2){ %>
                                <% counter2++; %>
                                <div class="mb-md-2  ">
                                    <% users.forEach(function(user){ %>
                                        <% if(comment.author.id.equals(user.id)){ %>
                                            <div class="user-comment-img rounded-circle border border-primary "
                                                 style="background-image:url('<%= user.avatar %>');">
                                            </div>
                                        <% } %>
                                    <% }); %>
                                    <strong><%= comment.author.username %></strong>
                                    <small class="ml-5">
                                        <em class="ml-n5 pl-1"><%= moment(comment.createdAt).fromNow() %></em>
                                    </small>
                                    <br>
                                    <!--show only 100 char of the comment and use arrow button to expand them-->
                                    <% if(comment.text.length > 100){ %>
                                        <% moreComment = uiid() %>
                                        <% someComment = uiid() %>
                                        <% bodyComment = uiid() %>
                                        <% allComment = uiid() %>
                                        <% commentArrow = uiid() %>
                                        <% upArrow = uiid() %>
                                        <% downArrow = uiid()%>
                                        <div class="dialogbox ">
                                            <div class="body" id='<%= bodyComment %>'>

                                                <span  id="<%= commentArrow %>"  class="arrow tip-arrowUp btn">
                                                    <div style="transform: scale(0.5)" class="arrow-down" onclick="this.classList.toggle('active')"></div>
                                                </span>
                                                <span class="tip tip-up"></span>
                                                <div class="message">
                                                    <span id="<%= allComment %>"
                                                          style="display: none;"><%= comment.text %></span>
                                                    <span id="<%= someComment %>"> <%= comment.text.substring(0, 100); %> ...</span>
                                                </div>
                                            </div>
                                        </div>
                                    <% } else { %>
                                        <!--show all text, it is not longer than 100 char-->
                                        <div class="dialogbox">
                                            <div class="body">
                                                <span class="tip tip-up"></span>
                                                <div class="message">
                                                    <span>  <%= comment.text %></span>
                                                </div>
                                            </div>
                                        </div>
                                    <% } %>
                                </div>
                            <% } %>
                            <% include ../partials/ejs/toggleComment %>
                            <% counter++; %>
                        <% }); %>

                    <% } else { %>
                        <hr>
                        <span class="text-muted"><small> There are not comments for this post yet</small></span>
                    <% } %>
                    <% var sum = counter - counter2; %>
                    <% if(sum < 1){ %>
                        <div class="mt-2">
                            <h6 class="text-muted d-inline " style="font-size: 13px;">
                                No more comments
                            </h6>
                        </div>
                    <% } %>
                    <% if(sum == 1 ){ %>
                        <h6 class="text-muted d-inline" style="font-size: 13px;">
                            <a class="text-decoration-none" href="/posts/<%= post._id %> "><%= sum %> more
                                comment</a>
                        </h6>
                    <% } %>
                    <% if(sum > 1 ){ %>
                        <h6 class="text-muted d-inline" style="font-size: 13px;">
                            <a class="text-decoration-none" href="/posts/<%= post._id %> "><%= sum %> more
                                comments</a>
                        </h6>
                    <% } %>

                </div>
                <a href="/posts/<%= post._id %>/comments/new"
                   class="card-link btn btn-outline-success btn-sm d-inline"><i class="fas fa-plus"></i>add a comment
                </a>
            </div>
        </div>
    <% }); %>
</div>

<script>
    //submit the search form with a change event, just in case
    document.getElementById('tags').addEventListener('change', function () {
        document.querySelector('form').submit();
    });
</script>

<script>document.querySelector('title').innerText = "All Posts"</script>
<% include ../partials/footer %>
