<% include ../partials/headInfoShare %>
<% if(currentUser && currentUser.isAdmin2){ %>
    <% include ../partials/head-admin %>
        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm ">
            <strong><a class="navbar-brand" href="#">Administrator Info Share</a></strong>

            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item m-2">
                    <a href="/logout">
                        <button type="button" class="small-font mt-1 btn btn-sm btn-outline-secondary mt-1">
                            <i class="fa fa-sign-out fa-lg"></i>Log out
                        </button>
                    </a>
                </li>
            </ul>
        </nav>


<% } else { %>


    <!--Navbar-->
    <nav class="navbar navbar-toggleable-sm navbar-light bg-white fixed-top">
        <div class="container d-flex ">
            <a class="navbar-brand" href="/"><img src="/assets/img/greek-pillar.png"></a>

            <div class=""><h3 class="heading-top " style="color:#4f2da8">ALL POSTS</h3></div>
            <div>
                <% if(currentUser){ %>
                    <a href="/users/<%= currentUser.id %>">
                        <div class="hover btn-group user-comment-img avatar-top rounded-circle border border-primary rounded-circle z-depth-1-half"
                             style="background-image:url('<%= currentUser.avatar %>');">
                        </div>
                    </a>
                <% } %>
                <button class="navbar-toggler first-button" type="button" data-toggle="collapse"
                        data-target="#collapseEx12" aria-controls="collapseEx2" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <div class="animated-icon1 "><span></span><span></span><span></span></div>
                </button>
            </div>

            <div class="collapse navbar-collapse bg-light" id="collapseEx12">
                <% if(!currentUser){ %>
                    <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                        <a id="login" class="btn btn-outline-default btn-sm waves-effect waves-light"
                           href="/login">
                            <span class="d-lg-inline-block mr-1">Log In</span>
                            <i class="fas fa-sign-in-alt ml-2"></i>
                        </a>
                        <a id="sign-up" class="btn btn-outline-deep-orange btn-sm waves-effect waves-light"
                           href="/register"
                           role="button">
                            <span class=" d-lg-inline-block mr-1">sign up</span>
                            <i class="fas fa-user-plus "></i>
                        </a>
                    </div>

            </div>
            <% } else { %>


                <div class="btn-group-vertical" role="group" aria-label="Vertical button group">

                    <a id="" class="btn btn-outline-cyan btn-sm " href="/posts/new" role="button">
                        <span class=" d-lg-inline-block mr-1">new post</span>
                        <i class="fas fa-plus "></i>
                    </a>
                    <a id="" class="btn btn-outline-cyan btn-sm " href="/userPosts" role="button">
                        <span class=" d-lg-inline-block mr-1">my posts</span>
                        <i class="fas fa-file "></i>
                    </a>
                    <a id="" class="btn btn-outline-cyan btn-sm " href="/userPosts/comments" role="button">
                        <span class=" d-lg-inline-block mr-1">my comments</span>
                        <i class="fas fa-comments "></i>
                    </a>
                    <a id="" class="btn btn-outline-cyan btn-sm " href="/users/<%= currentUser.id %>" role="button">
                        <span class=" d-lg-inline-block mr-1">my profile</span>
                        <i class="fas fa-user "></i>
                    </a>


                    <a id="" class="btn btn-outline-deep-orange  btn-sm " href="/logout">
                        <span class="d-lg-inline-block ">Log out</span>
                        <i class="fas fa-sign-out-alt"></i>
                    </a>
                </div>

                <form action="/posts" method="GET" class="form-inline ml-2 mt-1 float-left">
                    <input id="tags" class="awesomplete form-control mr-1 "
                           name="search" type="text" placeholder="search here"
                           data-list="<%= availableTags %>">
                </form>

        </div>
        <% } %>

    </nav>
    <!--end nav ----------------------------------------------------------------------------------------------------------->


    <% include ../partials/flsh %>
<% } %>

<!-- - - - - - -  ------      ---------------------  body -----------------------------------------      - - - - - - -->
<!--declare variables for searching, and expanding comments and description  -->
<% var moreDesc,
        someText,
        show,
        moreComment,
        someComment,
        bodyComment,
        commentArrow,
        upArrow,
        downArrow,
        allComment; %>
<!-- - - - - - - - - - - - - - - -->


<div class="container-body   p-0 top-position ">


    <div id="start"></div>
    <% var userImage; %>
    <% var userComment; %>
    <% posts.forEach(function(post){ %>
        <div class="card shadow-sm p-1 mb-1 bg-light rounded hover">
            <div class="card-body body-post">
                <a class="text-decoration-none" href="posts/<%= post._id %>">
                    <h3 class="card-title post-title  text-left col p-1 ">
                        <%= post.name %>
                    </h3>
                </a>

                <% if(currentUser && currentUser.isAdmin2){ %>
                    <!--edit or delete the post if it is admin-->
                    <div class="float-right">
                        <div class="dropdown dropleft">
                            <i class="fas fa-cog btn btn-block text-black fa-lg" id="dropdownMenuButton"
                               data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false" aria-hidden="true"></i>
                            <div class="dropdown-menu text-center" id="">
                                <a href="/posts/<%= post._id %>/edit" class="dropdown-item">
                                    <button class="btn btn-outline-primary ">
                                        <i class="  fas  fa-edit"> </i> edit post
                                    </button>
                                </a>
                                <hr>
                                <form id="delete" class="dropdown-item btn btn-block"
                                      action="/posts/<%= post._id %>?_method=DELETE" method="POST">
                                    <button class="btn btn-outline-danger ">
                                        <i class=" mr-1 ml-1 fas fa-trash-alt"></i> delete post
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                <% } %>
                <!--===================================  -->


                <!--the top part of the card --------------------------------------------------->
                <h6 class="card-subtitle row">
                    <% users.forEach(function(user){ %>
                        <% if(post.author.id == user.id){ %>
                            <% userComment = user %>
                            <% userImage = user.avatar %>
                        <% } %>
                    <% }); %>

                    <div class="col-1 ">
                        <div class="user-post-img rounded-circle border border-primary "
                             style="background-image:url('<%= userImage %>');"></div>
                    </div>
                    <div class="col-1 col-space"></div>
                    <div class="col-8">
                        <div>
                            <strong>
                                <em class="col">
                                    posted by
                                    <a href="users/<%= post.author.id %>"> <%= post.author.username %></a>
                                    <div class="col">
                                        <small><em class=""><%= moment(post.createdAt).fromNow() %></em></small>
                                    </div>
                                </em>
                            </strong>
                        </div>
                    </div>
                </h6>
                <!--end top part of the card --------------------------------------------------->
            </div>


            <a href="posts/<%= post._id %>" style="text-decoration: none;">

                <% if(post.image != undefined){ %>
                    <!--if it is a video-->
                    <% if(encodeURIComponent(post.image).substring(encodeURIComponent(post.image).length - 3) === 'mp4'
                            || encodeURIComponent(post.image).substring(encodeURIComponent(post.image).length - 3) === 'mov'){ %>
                        <!--play video-->
                        <div class="text-center bg-light " style=" background-image: url('/assets/img/qsKIY.png')">
                            <video id="myVideo" class=" img-fluid rounded" style="" controls>
                                <source src="<%= post.image %>" type="video/mp4" preload="metadata"/>
                                <source src="<%= post.image %>" type="video/ogg" preload="metadata"/>
                                Your browser does not support HTML5 video.
                            </video>
                        </div>
                    <% } else { %>
                        <!-- images-->
                            <% var moreImages = post.image.length > 1 %>
                            <!--    show main image   -->
                            <img class="img-fluid " src="<%= post.image[0] %> " alt="" style="">

                            <% if(moreImages){ %>
                                <p style="margin-top: 3%; margin-left: 10px;">
                                    <em><%= `${post.image.length - 1} more images` %></em></p>
                                <div class="d-inline-flex">
                                    <div class="thumbNail"
                                         style=" background-image: url('<%= post.image[1] %> ');"></div>
                                    <div class="thumbNail"
                                         style=" background-image: url('<%= post.image[2] %> ');"></div>
                                    <div class="thumbNail"
                                         style=" background-image: url('<%= post.image[3] %> ');"></div>
                                    <div class="thumbNail"
                                         style=" background-image: url('<%= post.image[4] %> ');"></div>
                                </div>
                            <% } %>

                    <% } %>
            </a>
            <% } %>

            <!--description part and comments-->
            <div class="card-body">
                <strong><em class=""><p class="text-dark ">Description</p></em> </strong>
                <% if(post.description.length < 100) { %>
                    <p class="d-inline text-muted"><%= post.description %></p>
                <% } else { %>
                    <% show = uiid(); %>
                    <% someText = uiid(); %>
                    <% moreDesc = uiid(); %>
                    <div id="" class="  d-inline " style="display: block;">
                        <div id="some-desc" class="  d-inline " style="display: block;">
                            <p id="<%= show %>" class="text-muted" style="display:none;">
                                <%= post.description %>
                            </p>
                            <p id="<%= someText %>" class="text-muted ">
                                <%= post.description.substring(0, 100); %> ...
                                <a id="<%= moreDesc %>" class="btn d-inline-flex m-n2">
                                    <small class="text-primary">more</small>
                                </a>
                            </p>
                        </div>
                    </div>
                    <!--show the description if it is more than 100 characters-->
                    <% include ../partials/ejs/showDescription %>
                <% } %>
                <!--if there are comments display up to three comments-->
                <div>
                    <% if(post.comments != false){ %>
                        <hr class="mb-2">

                        <% var counter = 0; var counter2 = 0; %>
                        <% post.comments.forEach(function(comment){ %>

                            <!--edit or delete the comment if it is admin -------- -->
                            <% if(currentUser && currentUser.isAdmin2){ %>
                                <div class="float-right">
                                    <div class="dropdown dropleft">
                                        <i class="fas fa-cog btn btn-block text-black fa-lg"
                                           id="dropdownMenuButton"
                                           data-toggle="dropdown"
                                           aria-haspopup="true" aria-expanded="false"
                                           aria-hidden="true"></i>
                                        <div class="dropdown-menu text-center" id="">
                                            <a href="/posts/<%= post._id %>/comments/<%= comment._id %>/edit"
                                               class="dropdown-item">
                                                <button class="btn btn-outline-primary ">
                                                    <i class="  fas  fa-edit"> </i> edit comment
                                                </button>
                                            </a>
                                            <hr>
                                            <form id="delete" class="dropdown-item btn btn-block"
                                                  action="/posts/<%= post._id %>/comments/<%= comment._id %>/?_method=DELETE"
                                                  method="POST">
                                                <button class="btn btn-outline-danger ">
                                                    <i class=" mr-1 ml-1 fas fa-trash-alt"></i> delete
                                                    comment
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            <% }; %>
                            <!--===================================  -->
                            <% counter++; %>
                        <% }); %>

                    <% } else { %>
                        <hr>
                        <span class="text-muted"><small> There are not comments for this post yet</small></span>
                    <% } %>

                    <% if(counter == 1 ){ %>
                        <h6 class="text-muted d-inline" style="font-size: 13px;">
                            <a class="text-decoration-none" href="/posts/<%= post._id %> ">
                                <strong><em><p class="card-text text-primary  mb-1">
                                            <i class="fas fa-comments fa-2x"></i> <%= counter %>
                                            Comment
                                        </p>
                                    </em>
                                </strong>
                            </a>
                        </h6>
                    <% } %>
                    <% if(counter > 1 ){ %>
                        <h6 class="d-inline">
                            <a class="text-decoration-none" href="/posts/<%= post._id %> ">
                                <strong><em><p class="card-text text-primary  mb-1"><i
                                                    class="fas fa-comments text-black fa-2x"></i>
                                            <span class="text-primary"><%= counter %> Comments</span></p>
                                    </em>
                                </strong>
                            </a>
                        </h6>
                    <% } %>
                </div>
                <p>
                    <a href="/posts/<%= post._id %>/comments/new"
                       class="btn btn-info btn-sm ml-0 comment-form-toggle show_login waves-effect waves-light">
                        add a comment
                    </a>
                </p>
            </div>
        </div>
    <% }); %>
</div>

<script>
    //submit the search form with a change event, just in case
    // document.getElementById('tags').addEventListener('change', function () {
    //     document.querySelector('form').submit();
    // });
</script>

<script>document.querySelector('title').innerText = "All Posts"</script>
<% include ../partials/footer %>
