<% include ../partials/headInfoShare %>

<!--Navbar-->
<nav class="navbar navbar-toggleable-sm navbar-light bg-white fixed-top">
    <div class="container d-flex ">
        <a class="navbar-brand" href="/"><img src="/assets/img/greek-pillar.png"></a>
        <div>
            <% if(currentUser){ %>
                <a href="/users/<%= currentUser.id %>">
                    <div class="hover btn-group user-comment-img avatar-top rounded-circle border border-primary rounded-circle z-depth-1-half"
                         style="background-image:url('<%= currentUser.avatar %>');">
                    </div>
                </a>
            <% } %>
            <button class="navbar-toggler first-button" type="button" data-toggle="collapse"
                    data-target="#collapseEx12" aria-controls="collapseEx2" aria-expanded="false"
                    aria-label="Toggle navigation">
                <div class="animated-icon1 "><span></span><span></span><span></span></div>
            </button>
        </div>

        <div class="collapse navbar-collapse bg-light" id="collapseEx12">
            <% if(!currentUser){ %>

        </div>
        <% } else { %>


            <div class="btn-group-vertical" role="group" aria-label="Vertical button group">

                <a id="" class="btn btn-outline-cyan btn-sm " href="/posts" role="button">
                    <span class=" d-lg-inline-block mr-1">home</span>
                    <i class="fas fa-home "></i>
                </a>

                <a id="" class="btn btn-outline-cyan btn-sm " href="/posts/new" role="button">
                    <span class=" d-lg-inline-block mr-1">new post</span>
                    <i class="fas fa-plus "></i>
                </a>
                <a id="" class="btn btn-outline-cyan btn-sm " href="/userPosts" role="button">
                    <span class=" d-lg-inline-block mr-1">my posts</span>
                    <i class="fas fa-file "></i>
                </a>
                <a id="" class="btn btn-outline-cyan btn-sm " href="/userPosts/comments" role="button">
                    <span class=" d-lg-inline-block mr-1">my comments</span>
                    <i class="fas fa-comments "></i>
                </a>
                <a id="" class="btn btn-outline-cyan btn-sm " href="/users/<%= currentUser.id %>" role="button">
                    <span class=" d-lg-inline-block mr-1">my profile</span>
                    <i class="fas fa-user "></i>
                </a>


                <a id="" class="btn btn-outline-deep-orange  btn-sm " href="/logout">
                    <span class="d-lg-inline-block ">Log out</span>
                    <i class="fas fa-sign-out-alt"></i>
                </a>
            </div>
    </div>
    <% } %>

</nav>
<!--end nav ----------------------------------------------------------------------------------------------------------->


<main class="page top-position ">

    <% if (typeof message != "undefined"){ %>
        <div class="container-message text-center flash" style="z-index: 2">
            <div id="warning-alert" class="alert alert-warning alert-dismissible fade show" role="alert">
                <%= message %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    <% } %>

    <div class="container-form m-auto shadow p-2">
        <div class="block-heading">
            <h2 id="header-form" class="text-info">Add a New Post</h2>
            Use the form below to add a new post
        </div>
        <form id="post_form" class="" action="/posts" method="POST" enctype="multipart/form-data">


            <h3 id="loading-message" class="text-center text-warning"></h3>
            <!--add a title-->
            <div class="form-group">
                <input type="text" id="" class="form-control hover" name="post[name]" maxlength="30"
                       placeholder="title" required></div>

            <!--            create dynamically inputs for image or a video-->

            <input class="btn btn-outline-danger btn-sm float-right mt-n1" type="button" value="cancel" id="cancel"/>
            <input class="btn btn-outline-primary btn-sm" type="button" value="Add pictures " id="addPictures"/>
            <input class="btn btn-outline-primary btn-sm" type="button" value="Add a Video" id="addVideo"/>


            <div class="">
                <div class="">


                    <input class="btn btn-outline-primary btn-sm" type="button"
                           value="Add up to 5 pictures" id="add"/>
                    <div id="container1">&nbsp;</div>
                </div>
                <div class="">
                    <input class="btn btn-outline-primary btn-sm" type="button" value="Add a Video" id="add2"/>
                    <div id="container2">&nbsp;</div>
                </div>


            </div>


            <!--text area for description-->

            <div class="hover form-group mt-3">
             <textarea type="text" id="desc" class="form-control" name="post[description]"
                       cols="100"
                       rows="3"
                       required
                       placeholder="Description"
             ></textarea>


            </div>

            <div class="form-group">
                <button id='btn' class="btn btn-primary btn-block" type="submit">Submit</button>
            </div>
            <!--gif loading-->
            <div id="loading" class="text-center "></div>


        </form>


    </div>

</main>
<!--do not display it in mobile formats-->

<footer class="hide-in-mobile page-footer dark position-absolute" style="bottom:0; left: 0;right:0;">
    <div class="footer-copyright">
        <p>© <%= new Date().getFullYear() %> by the Hellenic American Hippocratic Orthopaedic Society</p>
    </div>
</footer>


<script>

    var videoBtn = document.getElementById('add2');
    var imagesBtn = document.getElementById('add');
    var addPictures = document.getElementById("addPictures");
    var addVideo = document.getElementById("addVideo");
    var cancel = document.getElementById("cancel");

    var fivePic = 0;
    var oneVideo = 0;
    videoBtn.style.display = "none";
    imagesBtn.style.display = "none";
    cancel.style.display = "none";

    addPictures.addEventListener("click", function () {
        addPictures.style.display = "none";
        addVideo.style.display = "none";
        imagesBtn.style.display = "block";
        cancel.style.display = "block";

        imagesBtn.addEventListener("click", function () {

            if (fivePic < 5) {

                var div = document.createElement("div");
                // Create a file input
                var file = document.createElement("input");
                file.setAttribute("type", "file");
                file.setAttribute("name", "image");
                file.setAttribute("accept", "image/*");

                // add the file and text to the div
                div.appendChild(file);

                //Append the div to the container div
                document.getElementById("container1").appendChild(div);
                fivePic++;
            }
        });

    })


    addVideo.addEventListener("click", function () {
        addVideo.style.display = 'none'
        addPictures.style.display = "none";
        cancel.style.display = "block";
        videoBtn.style.display = "none";

        if (oneVideo === 0) {

            var p = document.createElement("p");
            // Create a file input
            var file = document.createElement("input");
            file.setAttribute("type", "file");
            file.setAttribute("name", "image");
            file.setAttribute("accept", "video/*");

            // add the file and text to the div
            p.appendChild(file);

            //Append the div to the container div
            document.getElementById("container2").appendChild(p);
            oneVideo++;
        }
    });

    cancel.addEventListener("click", function () {
        document.location.reload()
    });


</script>

<script>
    document.querySelector('title').innerText = "Add Post"
</script>

<% include ../partials/footer %>
</body>
</html>