<% include ../partials/headInfoShare %>

<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-light clean-navbar ">
    <div class="container"><a class="navbar-brand logo " href="/"><img src="/assets/img/logo-hp.png"
                                                                       style="height: 40px;width: 45px;"></a>
        <h3 class="title-mobile letter-spacing mt-2 text-black "><%=    %> </h3>
        <button data-toggle="collapse" class="navbar-toggler " data-target="#navcol-1">
            <span class="sr-only ">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <% if(!currentUser){ %>
                <div class="options d-flex justify-content-between align-items-center mr-auto">
                    <div class="btn-group">
                        <a href="/login">
                            <button type="button" class="btn btn-sm btn-outline-success mr-2">
                                <i class="fa fa-sign-in fa-lg"></i>Log In
                            </button>
                        </a>
                        <a href="/register">
                            <button type="button" class="  btn btn-sm btn-outline-primary">
                                <i class="fas fa-user-plus"></i>Sign Up
                            </button>
                        </a>
                    </div>
                </div>
                <h3 class="title-desktop letter-spacing mt-2 text-black "><%=    %> </h3>
            <% } else { %>
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item m-2">
                        <a href="/logout">
                            <button type="button" class="small-font mt-1 btn btn-sm btn-outline-secondary">
                                <i class="fa fa-sign-out fa-lg"></i>Log out
                            </button>
                        </a>
                    </li>
                    <div class="options d-flex justify-content-between align-items-center mr-auto mt-1">
                        <div class="hover btn-group user-comment-img avatar-top rounded-circle border border-primary mr-2 "
                             style="background-image:url('<%= currentUser.avatar %>');"></div>
                        <div class="btn-group">
                            <a href="/posts">
                                <button type="button" class="small-font btn btn-sm btn-outline-secondary">
                                    <i class="fa fa-home fa-lg"></i>Home
                                </button>
                            </a>
                            <a href="/posts/new">
                                <button type="button" class="small-font btn btn-sm btn-outline-success">New Post
                                </button>
                            </a>
                            <a href="/userPosts">
                                <button type="button" class="small-font  btn btn-sm btn-outline-primary">My Posts
                                </button>
                            </a>
                            <a href="/userPosts/comments">
                                <button type="button" class="small-font  btn btn-sm btn-outline-primary">My comments
                                </button>
                            </a>
                            <a href="/users/<%= currentUser.id %>">
                                <button type="button" class="small-font btn btn-sm btn-outline-primary">My Profile
                                </button>
                            </a>
                        </div>
                    </div>
                </ul>
            <% } %>

        </div>
    </div>
</nav>
<% include ../partials/flsh %>
<% var userImage; %>
<% var userComment; %>

<div class="container-body  p-0 top-position ">

    <div class="card  shadow-sm p-1 mb-1 bg-light rounded hover">
        <div class="card-body">

            <% if(nameSearch) { %>
                <div class=" bg-white name" id="name">
                    <h3 class="card-title  text-left col ">
                        <%= post.name %>
                    </h3>
                </div>
            <% }else { %>
                <h3 class="card-title  text-left col ">
                    <%= post.name %>
                </h3>
            <% } %>

            <!--the top part of the card --------------------------------------------------->
            <h6 class="card-subtitle row ">
                <% users.forEach(function(user){ %>
                    <% if(post.author.id == user.id){ %>
                        <% userComment = user %>
                        <% userImage = user.avatar %>
                    <% } %>
                <% }); %>

                <div class="col-1 ">
                    <div class="user-post-img rounded-circle border border-primary "
                         style="background-image:url('<%= userImage %>');"></div>
                </div>
                <div class="col-1 col-space"></div>
                <div class="col-8">
                    <div>
                        <strong>
                            <em class="col">
                                posted by
                                <a href="/users/<%= post.author.id %>"> <%= post.author.username %></a>
                                <div class="col">
                                    <small><em class=""><%= moment(post.createdAt).fromNow() %></em></small>
                                </div>
                            </em>
                        </strong>
                    </div>
                </div>
            </h6>
            <!--end top part of the card --------------------------------------------------->
        </div>

        <% if(post.image != undefined){ %>
            <!--if it is a video-->
            <% if(encodeURIComponent(post.image).substring(encodeURIComponent(post.image).length - 3) === 'mp4'
                    || encodeURIComponent(post.image).substring(encodeURIComponent(post.image).length - 3) === 'mov') { %>
                <!--play video-->
                <div class="text-center bg-light " style=" background-image: url('/assets/img/qsKIY.png')">
                    <video id="myVideo" class=" img-fluid rounded" style="" controls>
                        <source type="video/mp4" src="<%= post.image %>" preload="metadata"/>
                        Your browser does not support HTML5 video.
                    </video>
                </div>
            <% } else { %>
                <!--it is an image-->
                <div class=" rounded ">
                    <img class=" img-fluid " src="<%= post.image %> " alt="">
                </div>
            <% } %>
        <% } %>


        <div class="card-body">
            <strong><em><p class="card-text">Description</p></em></strong>

            <!--search results from the search box are displayed here-->
            <% if(descriptionSearch) { %>
                <div class="mt-2 bg-white pilled " id="name">
                    <p class="d-inline text-muted "><%= post.description %> </p>
                </div>
            <% } else { %>
                <p class="d-inline text-muted"><%= post.description %> </p>
            <% } %>

            <hr class="mb-2">

            <% if(post.comments == false){ %>
                <h6 class="text-muted  " style="font-size: 13px;">
                    No comments yet
                </h6>

            <% }else{ %>

                <strong class=" ">
                    <em class="">
                        <p class="card-text mb-1">Comments <i class="fas fa-comments"></i></p>
                    </em>
                </strong>

                <% post.comments.forEach(function(comment){ %>


                    <% if( comment.id == commentSearch){ %>
            <div class="mb-md-2 bg-white pilled " id="<%= commentSearch %>">
                <% } else { %>
                <div class="mb-md-2 bg-white pilled ">
                    <% } %>

                    <% users.forEach(function(user){ %>
                        <% if(comment.author.id.equals(user.id)){ %>
                            <div class="user-comment-img rounded-circle border border-primary "
                                 style="background-image:url('<%= user.avatar %>');"></div>
                        <% } %>
                    <% }); %>

                    <strong><%= comment.author.username %></strong>

                    <small class="ml-5">
                        <em class="ml-n5 pl-1"><%= moment(comment.createdAt).fromNow() %></em>
                    </small>
                    <br>


                    <h6 class="text-muted d-inline " style="font-size: 13px;">
                        <%= comment.text %>
                    </h6>
                </div>

                <% }); %>
                <% } %>
                <a href="/posts" class="card-link">back to posts</a>

            </div>
        </div>
    </div>

    <script>document.querySelector('title').innerText = "<%= post.name %>"</script>
    <script>
        $(document).ready(function () {

            if ($("#<%= nameSearch %>")) {
                setTimeout(function () {
                    $("#name").addClass('borderHighlight');
                }, 1000);
            }
//------------------------------------------
            if ($("#<%= descriptionSearch %>")) {

                setTimeout(function () {
                    $("#desc").addClass('borderHighlight');
                }, 1000);
            }
//-------------------------------------------
//-------------------------------------------
            if ($("#<%= commentSearch %>")) {

                $('html, body').animate({
                    scrollTop: $("#<%= commentSearch %>").offset().top - 100
                }, 1000);
                setTimeout(function () {
                    $("#<%= commentSearch %>").addClass('borderHighlight');
                }, 1000);
            }
//-----------------------------------------
        });
    </script>


<% include ../partials/footer %>