<% include ../partials/headInfoShare %>

<!--Navbar-->
<nav class="navbar navbar-toggleable-sm navbar-light bg-white fixed-top">
    <div class="container d-flex ">
        <a class="navbar-brand" href="/"><img src="/assets/img/greek-pillar.png"></a>

        <div class=""><h3 class="heading-top " style="color:#4f2da8">POST</h3></div>
        <div>
            <% if(currentUser){ %>
                <a href="/users/<%= currentUser.id %>">
                    <div class="hover btn-group user-comment-img avatar-top rounded-circle border border-primary rounded-circle z-depth-1-half"
                         style="background-image:url('<%= currentUser.avatar %>');">
                    </div>
                </a>
            <% } %>
            <button class="navbar-toggler first-button" type="button" data-toggle="collapse"
                    data-target="#collapseEx12" aria-controls="collapseEx2" aria-expanded="false"
                    aria-label="Toggle navigation">
                <div class="animated-icon1 "><span></span><span></span><span></span></div>
            </button>
        </div>

        <div class="collapse navbar-collapse bg-light" id="collapseEx12">
            <% if(!currentUser){ %>
                <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                    <a id="login" class="btn btn-outline-default btn-sm waves-effect waves-light"
                       href="/login">
                        <span class="d-lg-inline-block mr-1">Log In</span>
                        <i class="fas fa-sign-in-alt ml-2"></i>
                    </a>
                    <a id="sign-up" class="btn btn-outline-deep-orange btn-sm waves-effect waves-light"
                       href="/register"
                       role="button">
                        <span class=" d-lg-inline-block mr-1">sign up</span>
                        <i class="fas fa-user-plus "></i>
                    </a>
                </div>

        </div>
        <% } else { %>


            <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                <a id="" class="btn btn-outline-cyan btn-sm " href="/posts" role="button">
                    <span class=" d-lg-inline-block mr-1">home</span>
                    <i class="fas fa-home "></i>
                </a>

                <a id="" class="btn btn-outline-cyan btn-sm " href="/posts/new" role="button">
                    <span class=" d-lg-inline-block mr-1">new post</span>
                    <i class="fas fa-plus "></i>
                </a>
                <a id="" class="btn btn-outline-cyan btn-sm " href="/userPosts" role="button">
                    <span class=" d-lg-inline-block mr-1">my posts</span>
                    <i class="fas fa-file "></i>
                </a>
                <a id="" class="btn btn-outline-cyan btn-sm " href="/userPosts/comments" role="button">
                    <span class=" d-lg-inline-block mr-1">my comments</span>
                    <i class="fas fa-comments "></i>
                </a>
                <a id="" class="btn btn-outline-cyan btn-sm " href="/users/<%= currentUser.id %>" role="button">
                    <span class=" d-lg-inline-block mr-1">my profile</span>
                    <i class="fas fa-user "></i>
                </a>


                <a id="" class="btn btn-outline-deep-orange  btn-sm " href="/logout">
                    <span class="d-lg-inline-block ">Log out</span>
                    <i class="fas fa-sign-out-alt"></i>
                </a>
            </div>

    </div>
    <% } %>

</nav>
<!--end nav ----------------------------------------------------------------------------------------------------------->

<% include ../partials/flsh %>
<% var userImage; %>
<% var userComment; %>

<div class="container-body  p-0 top-position ">

    <div class="card  shadow-sm p-1 mb-1 bg-light rounded hover">
        <div class="card-body">

            <% if(nameSearch) { %>
                <div class=" bg-white name" id="name">
                    <h3 class="card-title  text-left col ">
                        <%= post.name %>
                    </h3>
                </div>
            <% }else { %>
                <h3 class="card-title  text-left col ">
                    <%= post.name %>
                </h3>
            <% } %>

            <!--the top part of the card --------------------------------------------------->
            <h6 class="card-subtitle row ">
                <% users.forEach(function(user){ %>
                    <% if(post.author.id == user.id){ %>
                        <% userComment = user %>
                        <% userImage = user.avatar %>
                    <% } %>
                <% }); %>

                <div class="col-1 ">
                    <div class="user-post-img rounded-circle border border-primary "
                         style="background-image:url('<%= userImage %>');"></div>
                </div>
                <div class="col-1 col-space"></div>
                <div class="col-8">
                    <div>
                        <strong>
                            <em class="col">
                                posted by
                                <a href="/users/<%= post.author.id %>"> <%= post.author.username %></a>
                                <div class="col">
                                    <small><em class=""><%= moment(post.createdAt).fromNow() %></em></small>
                                </div>
                            </em>
                        </strong>
                    </div>
                </div>
            </h6>
            <!--end top part of the card --------------------------------------------------->
        </div>

        <% if(post.image != undefined){ %>
            <!--if it is a video-->
            <% if(encodeURIComponent(post.image).substring(encodeURIComponent(post.image).length - 3) === 'mp4'
                    || encodeURIComponent(post.image).substring(encodeURIComponent(post.image).length - 3) === 'mov') { %>
                <!--play video-->
                <div class="text-center bg-light " style=" background-image: url('/assets/img/qsKIY.png')">
                    <video id="myVideo" class=" img-fluid rounded" style="" controls>
                        <source type="video/mp4" src="<%= post.image %>" preload="metadata"/>
                        Your browser does not support HTML5 video.
                    </video>
                </div>
            <% } else { %>
                <!--it is an image-->
                <div class=" rounded ">
                    <img class=" img-fluid " src="<%= post.image %> " alt="">
                </div>
            <% } %>
        <% } %>


        <div class="card-body">
            <strong><em><p class="card-text">Description</p></em></strong>

            <!--search results from the search box are displayed here-->
            <% if(descriptionSearch) { %>
                <div class="mt-2 bg-white pilled " id="name">
                    <p class="d-inline text-muted "><%= post.description %> </p>
                </div>
            <% } else { %>
                <p class="d-inline text-muted"><%= post.description %> </p>
            <% } %>

            <hr class="mb-2">

            <% if(post.comments == false){ %>
                <h6 class="text-muted  " style="font-size: 13px;">
                    No comments yet
                </h6>

            <% }else{ %>

                <strong class=" ">
                    <em class="">
                        <p class="card-text mb-1">Comments <i class="fas fa-comments"></i></p>
                    </em>
                </strong>

                <% post.comments.forEach(function(comment){ %>


                    <% if( comment.id == commentSearch){ %>
            <div class="mb-md-2 bg-white pilled " id="<%= commentSearch %>">
                <% } else { %>
                <div class="mb-md-2 bg-white pilled ">
                    <% } %>

                    <% users.forEach(function(user){ %>
                        <% if(comment.author.id.equals(user.id)){ %>
                            <div class="user-comment-img rounded-circle border border-primary "
                                 style="background-image:url('<%= user.avatar %>');"></div>
                        <% } %>
                    <% }); %>

                    <strong><%= comment.author.username %></strong>

                    <small class="ml-5">
                        <em class="ml-n5 pl-1"><%= moment(comment.createdAt).fromNow() %></em>
                    </small>
                    <br>


                    <h6 class="text-muted d-inline " style="font-size: 13px;">
                        <%= comment.text %>
                    </h6>
                </div>

                <% }); %>
                <% } %>
                <a href="/posts" class="card-link">back to posts</a>

            </div>
        </div>
    </div>

    <script>document.querySelector('title').innerText = "<%= post.name %>"</script>
    <script>
        $(document).ready(function () {

            if ($("#<%= nameSearch %>")) {
                setTimeout(function () {
                    $("#name").addClass('borderHighlight');
                }, 1000);
            }
//------------------------------------------
            if ($("#<%= descriptionSearch %>")) {

                setTimeout(function () {
                    $("#desc").addClass('borderHighlight');
                }, 1000);
            }
//-------------------------------------------
//-------------------------------------------
            if ($("#<%= commentSearch %>")) {

                $('html, body').animate({
                    scrollTop: $("#<%= commentSearch %>").offset().top - 100
                }, 1000);
                setTimeout(function () {
                    $("#<%= commentSearch %>").addClass('borderHighlight');
                }, 1000);
            }
//-----------------------------------------
        });
    </script>


<% include ../partials/footer %>