<% include ../partials/headInfoShare %>

<!--Navbar-->
<nav class="navbar navbar-toggleable-sm navbar-light bg-white fixed-top">
    <div class="container d-flex ">
        <a class="navbar-brand" href="/"><img src="/assets/img/greek-pillar.png"></a>

        <div class=""><h3 class="heading-top " style="color:#4f2da8">My COMMENTS</h3></div>
        <div>
            <% if(currentUser){ %>
                <a href="/users/<%= currentUser.id %>">
                    <div class="hover btn-group user-comment-img avatar-top rounded-circle border border-primary rounded-circle z-depth-1-half"
                         style="background-image:url('<%= currentUser.avatar %>');">
                    </div>
                </a>
            <% } %>
            <button class="navbar-toggler first-button" type="button" data-toggle="collapse"
                    data-target="#collapseEx12" aria-controls="collapseEx2" aria-expanded="false"
                    aria-label="Toggle navigation">
                <div class="animated-icon1 "><span></span><span></span><span></span></div>
            </button>
        </div>

        <div class="collapse navbar-collapse bg-light" id="collapseEx12">

            <% var firstComment = true; %>
            <% posts.forEach(function(post){ %>
                <% if(post.comments != false){ %>
                    <% post.comments.forEach(function(comment){ %>
                        <% if(comment.author.id.equals(currentUser.id)){ %>
                            <% firstComment = false; %>
                        <% } %>
                    <% }); %>
                <% } %>
            <% }); %>


            <% if(firstComment) { %>
                <div class="btn-group-vertical" role="group" aria-label="Vertical button group">

                    <div class=" ml-2">
                        <a href="/posts">
                            <button type="button" class="small-font btn btn-sm btn-outline-secondary">
                                <i class="fa fa-home fa-lg"></i>Home
                            </button>
                        </a>
                        <br>
                        <a href="/posts">
                            <button type="button" class="small-font btn btn-sm btn-outline-success">create your
                                comment !
                            </button>
                        </a>
                    </div>
                </div>
            <% } else { %>




                <div class="btn-group-vertical" role="group" aria-label="Vertical button group">

                    <a id="" class="btn btn-outline-cyan btn-sm " href="/posts" role="button">
                        <span class=" d-lg-inline-block mr-1">home</span>
                        <i class="fas fa-home "></i>
                    </a>
                    <a id="" class="btn btn-outline-cyan btn-sm " href="/posts/new" role="button">
                        <span class=" d-lg-inline-block mr-1">new post</span>
                        <i class="far fa-plus-square"></i>
                    </a>
                    <a id="" class="btn btn-outline-cyan btn-sm " href="/userPosts" role="button">
                        <span class=" d-lg-inline-block mr-1">my posts</span>
                        <i class="fas fa-file"></i>
                    </a>
                    <a id="" class="btn btn-outline-cyan btn-sm " href="/users/<%= currentUser.id %>" role="button">
                        <span class=" d-lg-inline-block mr-1">my profile</span>
                        <i class="fas fa-id-badge"></i>
                    </a>


                    <a id="" class="btn btn-outline-deep-orange  btn-sm " href="/logout">
                        <span class="d-lg-inline-block ">Log out</span>
                        <i class="fas fa-sign-out-alt"></i>
                    </a>
                </div>

                <form action="/posts" method="GET" class="form-inline ml-2 mt-1 float-left">
                    <input id="tags" class="awesomplete form-control mr-1 "
                           name="search" type="text" placeholder="search here"
                           data-list="<%= availableTags %>">
                </form>
        </div>
    </div>

</nav>
<% } %>

</nav>
<% include ../partials/flsh %>
<!--end nav ----------------------------------------------------------------------------------------------------------->

<!-- - - - - - -  ------      ---------------------  body -----------------------------------------      - - - - - - -->
<!--declare variables for searching, and expanding comments and description  -->
<% var moreDesc,
        someText,
        show,
        moreComment,
        someComment,
        bodyComment,
        commentArrow,
        upArrow,
        downArrow,
        allComment; %>
<!-- - - - - - - - - - - - - - - -->
<% if(firstComment) { %>
    <h3 style="margin-top: 90px;" class="text-center">You do not have any comments yet</h3>
<% } else { %>

    <div class="container-body  p-0 top-position ">


        <div id="start"></div>
        <% var userImage; %>
        <% var userComment; %>
        <% posts.forEach(function(post){ %>
                <div class="card shadow-sm p-1 mb-1 bg-light rounded hover">
                    <div class="card-body body-post">
                        <a class="text-decoration-none" href="/posts/<%= post._id %>">
                            <h3 class="card-title post-title  text-left col p-1 ">
                                <%= post.name %>
                            </h3>
                        </a>

                        <!--the top part of the card --------------------------------------------------->
                        <h6 class="card-subtitle row ">
                            <% users.forEach(function(user){ %>
                                <% if(post.author.id == user.id){ %>
                                    <% userComment = user %>
                                    <% userImage = user.avatar %>
                                <% } %>
                            <% }); %>

                            <div class="col-1 ">
                                <div class="user-post-img rounded-circle border border-primary "
                                     style="background-image:url('<%= userImage %>');"></div>
                            </div>
                            <div class="col-1 col-space"></div>
                            <div class="col-8">
                                <div>
                                    <strong>
                                        <em class="col">
                                            posted by
                                            <a href="/users/<%= post.author.id %>"> <%= post.author.username %></a>
                                            <div class="col">
                                                <small><em class=""><%= moment(post.createdAt).fromNow() %></em></small>
                                            </div>
                                        </em>
                                    </strong>
                                </div>
                            </div>
                        </h6>
                        <!--end top part of the card --------------------------------------------------->
                    </div>

                    <a href="/posts/<%= post._id %>">

                        <% if(post.image != undefined){ %>
                            <!--if it is a video-->
                            <% if(encodeURIComponent(post.image).substring(encodeURIComponent(post.image).length - 3) === 'mp4'
                                    || encodeURIComponent(post.image).substring(encodeURIComponent(post.image).length - 3) === 'mov') { %>
                                <!--play video-->
                                <div class="text-center bg-light " style=" background-image: url('/assets/img/qsKIY.png')">
                                    <video id="myVideo" class=" img-fluid rounded" style="" controls>
                                        <source type="video/mp4" src="<%= post.image %>" preload="metadata"/>
                                        Your browser does not support HTML5 video.
                                    </video>
                                </div>
                            <% } else { %>
                                <!-- images-->
                                <% var moreImages = post.image.length > 1 %>
                                <!--    show main image   -->
                                <img class="img-fluid " src="<%= post.image[0] %> " alt="" style="">

                                <% if(moreImages){ %>
                                    <p style="margin-top: 3%; margin-left: 10px;">
                                        <em><%= `${post.image.length - 1} more images` %></em></p>
                                    <div class="d-inline-flex">
                                        <div class="thumbNail"
                                             style=" background-image: url('<%= post.image[1] %> ');"></div>
                                        <div class="thumbNail"
                                             style=" background-image: url('<%= post.image[2] %> ');"></div>
                                        <div class="thumbNail"
                                             style=" background-image: url('<%= post.image[3] %> ');"></div>
                                        <div class="thumbNail"
                                             style=" background-image: url('<%= post.image[4] %> ');"></div>
                                    </div>
                                <% } %>
                            <% } %>

                    </a>
                    <% } %>

                    <!--description part and comments-->
                    <div class="card-body">
                        <strong><em class=""><p class="card-text ">Description</p></em> </strong>
                        <% if(post.description.length < 100) { %>
                            <p class="d-inline text-muted"><%= post.description %></p>
                        <% } else { %>
                            <% show = uiid(); %>
                            <% someText = uiid(); %>
                            <% moreDesc = uiid(); %>
                            <div id="" class="  d-inline " style="display: block;">
                                <div id="some-desc" class="  d-inline " style="display: block;">
                                    <p id="<%= show %>" class="text-muted" style="display:none;">
                                        <%= post.description %>
                                    </p>
                                    <p id="<%= someText %>" class="text-muted ">
                                        <%= post.description.substring(0, 100); %> ...
                                        <a id="<%= moreDesc %>" class="btn d-inline-flex m-n2">
                                            <small class="text-primary">more</small>
                                        </a>
                                    </p>
                                </div>
                            </div>
                            <!--show the description if it is more than 100 characters-->
                            <% include ../partials/ejs/showDescription %>
                        <% } %>
                        <!--if there are comments display up to three comments-->
                        <div>
                            <% if(post.comments != false){ %>
                                <hr class="mb-2">
                                <strong><em class=""><p class="text-dark mb-1">Comments <i class="fas fa-comments"></i>
                                        </p>
                                    </em></strong>
                                <% var counter = 0; var counter2 = 0; %>
                                <% post.comments.forEach(function(comment){ %>
                                    <% if(counter <= 2){ %>
                                        <% counter2++; %>
                                        <div class="mb-md-2  ">
                                            <% users.forEach(function(user){ %>
                                                <% if(comment.author.id.equals(user.id)){ %>
                                                    <div class="user-comment-img rounded-circle border border-primary "
                                                         style="background-image:url('<%= user.avatar %>');">
                                                    </div>
                                                <% } %>
                                            <% }); %>

                                                <!--edit or delete the comment if it is owned -------- -->
                                                <% if(comment.author.id.equals(currentUser.id)){ %>
                                                <div class="float-right">
                                                    <div class="dropdown dropleft">
                                                        <i class="fas fa-cog btn btn-block text-black fa-lg" id="dropdownMenuButton"
                                                           data-toggle="dropdown"
                                                           aria-haspopup="true" aria-expanded="false" aria-hidden="true"></i>
                                                        <div class="dropdown-menu text-center" id="">
                                                            <a href="/posts/<%= post._id %>/comments/<%= comment._id %>/edit"
                                                               class="dropdown-item"
                                                               class="">
                                                                <i class="btn btn-sm btn-outline-primary mr-1 ml-1 fas fa-edit"></i>
                                                            </a>
                                                            <hr>
                                                            <form id="delete" class="dropdown-item btn btn-block"
                                                                  action="/posts/<%= post._id %>/comments/<%= comment._id %>/?_method=DELETE"
                                                                  method="POST">
                                                                <button><i class="btn btn-outline-danger btn-sm mr-1 ml-1 fas fa-trash-alt"></i></button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                <% }; %>
                                                <!--===================================  -->

                                            <strong><%= comment.author.username %></strong>
                                            <small class="ml-5">
                                                <em class="ml-n5 pl-1"><%= moment(comment.createdAt).fromNow() %></em>
                                            </small>
                                            <br>
                                            <!--show only 100 char of the comment and use arrow button to expand them-->
                                            <% if(comment.text.length > 100){ %>
                                                <% moreComment = uiid() %>
                                                <% someComment = uiid() %>
                                                <% bodyComment = uiid() %>
                                                <% allComment = uiid() %>
                                                <% commentArrow = uiid() %>
                                                <% upArrow = uiid() %>
                                                <% downArrow = uiid() %>
                                                <div class="dialogbox ">
                                                    <div class="body" id='<%= bodyComment %>'>

                                                <span id="<%= commentArrow %>" class="arrow tip-arrowUp">
                                                    <div style="transform: scale(0.5)" class="arrow-down"
                                                         onclick="this.classList.toggle('active')"></div>
                                                </span>
                                                        <span class="tip tip-up"></span>
                                                        <div class="message">
                                                    <span id="<%= allComment %>"
                                                          style="display: none;"><%= comment.text %></span>
                                                            <span id="<%= someComment %>"> <%= comment.text.substring(0, 100); %> ...</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            <% } else { %>
                                                <!--show all text, it is not longer than 100 char-->
                                                <div class="dialogbox">
                                                    <div class="body">
                                                        <span class="tip tip-up"></span>
                                                        <div class="message">
                                                            <span>  <%= comment.text %></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            <% } %>
                                        </div>
                                    <% } %>
                                    <% include ../partials/ejs/toggleComment %>
                                    <% counter++; %>
                                <% }); %>

                            <% } else { %>
                                <hr>
                                <span class="text-muted"><small> There are not comments for this post yet</small></span>
                            <% } %>
                            <% var sum = counter - counter2; %>
                            <% if(sum < 1){ %>
                                <div class="mt-2">
                                    <h6 class="text-muted d-inline " style="font-size: 13px;">
                                        No more comments
                                    </h6>
                                </div>
                            <% } %>
                            <% if(sum == 1 ){ %>
                                <h6 class="text-muted d-inline" style="font-size: 13px;">
                                    <a class="text-decoration-none" href="/posts/<%= post._id %> "><%= sum %> more
                                        comment</a>
                                </h6>
                            <% } %>
                            <% if(sum > 1 ){ %>
                                <h6 class="text-muted d-inline" style="font-size: 13px;">
                                    <a class="text-decoration-none" href="/posts/<%= post._id %> "><%= sum %> more
                                        comments</a>
                                </h6>
                            <% } %>

                        </div>
                        <a href="/posts/<%= post._id %>/comments/new"
                           class="card-link btn btn-outline-success btn-sm d-inline"><i class="fas fa-plus"></i>add a
                            comment
                        </a>
                    </div>
                </div>

        <% }); %>
    </div>
<% } %>
<script>
    //submit the search form with a change event, just in case
    document.getElementById('tags').addEventListener('change', function () {
        document.querySelector('form').submit();
    });
</script>

<script>document.querySelector('title').innerText = "My Comments"</script>
<% include ../partials/footer %>
