<% include ../partials/headInfoShare %>

<!--Navbar-->
<nav class="navbar navbar-toggleable-sm navbar-light bg-white fixed-top">
    <div class="container d-flex ">
        <a class="navbar-brand" href="/"><img src="/assets/img/greek-pillar.png"></a>

        <div>
            <% if(currentUser){ %>
                <a href="/users/<%= currentUser.id %>">
                    <div class="hover btn-group user-comment-img avatar-top rounded-circle border border-primary rounded-circle z-depth-1-half"
                         style="background-image:url('<%= currentUser.avatar %>');">
                    </div>
                </a>
            <% } %>
            <button class="navbar-toggler first-button" type="button" data-toggle="collapse"
                    data-target="#collapseEx12" aria-controls="collapseEx2" aria-expanded="false"
                    aria-label="Toggle navigation">
                <div class="animated-icon1 "><span></span><span></span><span></span></div>
            </button>
        </div>

        <div class="collapse navbar-collapse bg-light" id="collapseEx12">
            <% if(!currentUser){ %>
                <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                    <a id="login" class="btn btn-outline-default btn-sm waves-effect waves-light"
                       href="/login">
                        <span class="d-lg-inline-block mr-1">Log In</span>
                        <i class="fas fa-sign-in-alt ml-2"></i>
                    </a>
                    <a id="sign-up" class="btn btn-outline-deep-orange btn-sm waves-effect waves-light"
                       href="/register"
                       role="button">
                        <span class=" d-lg-inline-block mr-1">sign up</span>
                        <i class="fas fa-user-plus "></i>
                    </a>
                </div>

        </div>
        <% } else { %>


            <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                <a id="" class="btn btn-outline-cyan btn-sm " href="/posts" role="button">
                    <span class=" d-lg-inline-block mr-1">home</span>
                    <i class="fas fa-home "></i>
                </a>

                <a id="" class="btn btn-outline-cyan btn-sm " href="/posts/new" role="button">
                    <span class=" d-lg-inline-block mr-1">new post</span>
                    <i class="fas fa-plus "></i>
                </a>
                <a id="" class="btn btn-outline-cyan btn-sm " href="/userPosts" role="button">
                    <span class=" d-lg-inline-block mr-1">my posts</span>
                    <i class="fas fa-file "></i>
                </a>
                <a id="" class="btn btn-outline-cyan btn-sm " href="/userPosts/comments" role="button">
                    <span class=" d-lg-inline-block mr-1">my comments</span>
                    <i class="fas fa-comments "></i>
                </a>
                <a id="" class="btn btn-outline-cyan btn-sm " href="/users/<%= currentUser.id %>" role="button">
                    <span class=" d-lg-inline-block mr-1">my profile</span>
                    <i class="fas fa-user "></i>
                </a>


                <a id="" class="btn btn-outline-deep-orange  btn-sm " href="/logout">
                    <span class="d-lg-inline-block ">Log out</span>
                    <i class="fas fa-sign-out-alt"></i>
                </a>
            </div>

    </div>
    <% } %>
</nav>
<% include ../partials/flsh %>


<div class="container-form bg-white p-0  mx-auto hover shadow p-2">
    <table class="table table-borderless ">
        <tr>
            <tbody class="">
            <form id="edit" class="" action="/posts/ <%= post._id %> /comments/<%= comment._id %>?_method=PUT "
                  method="POST">
                <h2 class="text-center p-3">Edit Comment </h2>

                <div class="row ">
                    <div class="col-md-10 mx-auto ">
                        <div class="hover form-group ">
                    <textarea type="text" id="new_comment" class="form-control " name="comment[text]" cols="100"
                              rows="3"
                              required><%= comment.text %></textarea>
                            <label class="form-control-placeholder " for="new_comment"></label>
                        </div>
                        <div class="form-group row">
                            <div class="text-center col-1 ">
                                <button id="sbmt" class=" btn btn-primary">submit</button>
                            </div>
                            <div class="d-inline text-center ml-5 col-sm">
                                <div id="loading" class="d-inline ml-5 "></div>
                            </div>
                            <div class="col-sm"></div>
                        </div>
                    </div>

                </div>
            </form>
            </tr>
            <tr class="bg-light ">
                <div class="back-grey text-decoration-none ">

                </div>
            </tr>

            </tbody>
    </table>
</div>

<footer class="page-footer black position-fixed text-center" style="bottom:0; left: 0;right:0;">
    <div class="footer-copyright">
        <p>© <%= new Date().getFullYear() %> by the Hellenic American Hippocratic Orthopaedic Society</p>
    </div>
</footer>

<% include ../partials/footer %>


